{% extends "base.html" %}
{% block title %}Departments{% endblock %}
{% block menu %}Departments{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}
{% block headerjs %}
  <script>
  $(document).ready(function() {
      $('#departments-nav').addClass('active');
  });
  </script>
{% endblock %}
{% block sidebar %}
  {{ super() }}
{% endblock %}

{% block body %}

<div class="row">
  <!-- Flash content -->
  {%- for category, message in get_flashed_messages(with_categories = true) %}
  {% if category == 'error' %}
  <div class="alert alert-danger alert-dismissible fade show" role="{{category}}">
  {% endif %}
  {% if category == 'success' %}
  <div class="alert alert-success alert-dismissible fade show" role="{{category}}">
  {% endif %}
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  <!-- List -->
  <div class="col-md-8 mx-auto">
  	<div class="card">
  		<div class="card-header card-header-success">
  			<div class="card-icon card-header-danger">
          <i class="material-icons">note</i>
        </div>
  			<h4 class="card-title">Departments</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for row in data %}
              <tr>
                <td>{{row['serial']}}</td>
                <td>{{row['name']}}</td>
                <td>{{row['description']}}</td>
                <td class="td-actions">
                  <a data-toggle="modal" data-target="#addDept" class="btn btn-warning">
                  <i class="material-icons">edit</i></a>
                  <a data-toggle="modal" data-target="#addDept" class="btn btn-danger">
                  <i class="material-icons">close</i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Add -->
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">add</i>
        </div>
        <h4 class="card-title">New Department</h4>
      </div>
      <div class="card-body">
        <form method="POST" action="{{ url_for('admin.departments') }}">
          <div class="form-group">
            <label for="username" class="bmd-label-floating">Name</label>
            <input name="dept-name" id="dept-name" class="form-control" type="text" required>
          </div>
          <div class="form-group">
            <label for="username" class="bmd-label-floating">Description</label>
            <input name="dept-desc" id="dept-desc" class="form-control" type="text" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success float-right">
              <span class="btn-label">
                <i class="material-icons">check</i>
              </span>
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

{% block js %}
  {{ super() }}
{% endblock %}
