{% extends "base.html" %}
{% block title %}User: {{ data[0]['first_name'] }}{% endblock %}
{% block menu %}User Profile{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block sidebar %}
  {{ super() }}
{% endblock %}

{% block body %}

{% for row in data %}

<div class="col-md-6 mx-auto">
  <div class="card card-profile">
    <div class="card-avatar">
      <img class="img" src="{{ url_for('static', filename='img/faces/marc.jpg') }}">
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ row['first_name'] + ' ' + row['last_name'] }}</h4>
      <table class="table">
        <tbody>
          <tr>
            <td>Department</td>
            <td>{{ row['depertment'] }}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{ row['sex'] }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td><a href="mailto:{{ row['email'] }}">{{ row['email'] }}</a></td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td>{{ row['phone'] }}</td>
          </tr>
        </tbody>
      </table>
      <a href="{{ url_for('admin.edit', username=session['user_id']) }}" class="btn btn-primary pull-right">
        <span class="btn-label">
          <i class="material-icons">edit</i>
        </span>
      Edit</a>
      <a href="{{ return_url }}" class="btn btn-primary pull-left">
        <span class="btn-label">
          <i class="material-icons">arrow_left</i>
        </span>
      Back</a>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

{% block js %}
  {{ super() }}
{% endblock %}